@import '../../common//colors.scss';


table,
td, .row {
    border: 0.5px solid rgb(227, 220, 220);
}
th, td{
    padding: 0.3rem;
}
.heading{
    text-align: center;
    color: $primary-color;
    &:hover{
        color: blue;
    }

}

.container{
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    background-color: rgb(235, 224, 224);
    position: relative;
    border-radius: 5px;

}
table {
    position: absolute;
    top: 2rem;
    left: calc(20% /2);
    margin: auto;
    margin-top: 4rem;
    width: 80%;
    min-width: 15rem;
   

}

